AddDefaultCharset utf-8
Options -Indexes

Options +FollowSymLinks
RewriteEngine On

RewriteRule ^db\.json$ - [F,L]

RewriteRule ^bower_components - [F,L]
RewriteRule ^node_modules - [F,L]
RewriteRule ^twig - [F,L]
RewriteRule ^vendor - [F,L]

RewriteRule ^bower\.json$ - [F,L]
RewriteRule ^composer\.json$ - [F,L]
RewriteRule ^composer\.lock$ - [F,L]
RewriteRule ^Gruntfile\.js$ - [F,L]
RewriteRule ^package\.json$ - [F,L]

<ifmodule mod_expires.c>
ExpiresActive On
ExpiresByType image/png "access plus 1 week"
ExpiresByType image/jpeg "access plus 1 week"
ExpiresByType text/css "access plus 1 week"

ExpiresByType text/javascript "access plus 1 week"
ExpiresByType application/javascript "access plus 1 week"
ExpiresByType application/x-javascript "access plus 1 week"
</ifmodule>

FileETag MTime Size
