Здравствуй, дорогой друг!
<br />
<br />Твоя заявка на VII фестиваль исторического и ролевого моделирования Юкон-2016 подтверждена! С чем мы тебя и поздравляем — и ждем на нашем конвенте!
<br />
<br />Если ты еще не заявил мероприятие на фестиваль — ты можешь это сделать, воспользовавшись специальной формой: <a href="https://goo.gl/forms/mvik0Qe8lTnNriZi1">https://goo.gl/forms/mvik0Qe8lTnNriZi1</a>
<br />
<br />Если ты хочешь жить на фестивале вместе со своими друзьями — ты можешь вернуться в режим редактирования заявки и создать группу поселения. Или присоединится к уже существующей. Специальный доступ не требуется — просто выбираешь нужную группу из списка.

{% include "fmails/ooter.twig" %}
