<br />
<br />Следи за обновлениями программы и новостями на наших ресурсах
<br /><a href="http://youkon.com.ua/">http://youkon.com.ua/</a>
<br /><a href="https://vk.com/youkon">https://vk.com/youkon</a>
<br /><a href="https://www.facebook.com/groups/161472074203627">https://www.facebook.com/groups/161472074203627</a>
<br />
<br />До встречи!
<br />Оргкомитет фестиваля Юкон-2016
