Здравствуй, дорогой друг!
<br />
<br />Ты зарегистрировал новую группу поселения, которая называется {{ groupName }}. Ты являешься ее руководителем. Если другой человек присоединиться к твоей группе — тебе на почту придет письмо-уведомление об этом. Если ты этого человека не знаешь (возможно, он присоединился по ошибке) — попроси его выйти из группы, или напиши об этом оргкомитету на email <a href="mailto:reg@youkon.com.ua">reg@youkon.com.ua</a>.
<br />
<br />Руководитель группы следит за тем, чтобы все участники вовремя оплатили проживание, получает ключи от комнат на фестивале, несет ответственность за сохранность имущества на местах поселения. Более подробно о правилах поселения и проживания ты можешь прочесть на нашем сайте <a href="http://youkon.com.ua/">http://youkon.com.ua/</a>

{% include "mails/footer.twig" %}
