Здравствуй, дорогой друг!
<br />
<br />Участник {{ userName }} покинул твою группу поселения {{ groupName }}. Если ты знаешь об этом — просто проигнорируй это письмо. Если для тебя это стало неожиданностью — не расстраивайся. Значит не очень хотелось)
<br />Ну или напиши ему на его email <a href="mailto:{{ userMail }}">{{ userMail }}</a>.

{% include "mails/footer.twig" %}
