Здравствуй, дорогой друг!
<br />
<br />Участник {{ userName }} присоединился к группе поселения {{ groupName }}. Если ты знаешь об этом — просто проигнорируй это письмо. Если данный человек тебе неизвестен, ты можешь написать ему на его email <a href="mailto:{{ userMail }}">{{ userMail }}</a> или сообщить об этом оргкомитету, написав на email <a href="mailto:reg@youkon.com.ua">reg@youkon.com.ua</a>.

{% include "mails/footer.twig" %}
