Привет, админ!
<br />
<br />На наш фестиваль собирается приехать еще один участник, его зовут
      <a href="http://reg.youkon.com.ua/edit.php?email={{ userMail | url_encode }}">{{ userName }}</a>. Это отличные новости!
<br />Скорее всего он еще до конца не уверен в результате. Наша задача помочь ему, если такая помощь потребуется.
<br />Помни об этом!

{% include "mails/footer-admin.twig" %}
