Привет, админ!
<br />
<br />На нашу игру собирается приехать еще один участник, его зовут
      <a href="http://hogwarts.bodigr.im/edit.php?email={{ userMail | url_encode }}">{{ userName }} {{ userSurname }}</a>. Это отличные новости!

{% include "mails/footer-admin.twig" %}
