Здравствуй, дорогой друг!
<br />
<br />Ты только что зарегистрировался на VII фестиваль исторического и ролевого моделирования Юкон-2016! С чем мы тебя и поздравляем — и ждем на нашем конвенте!
<br />Если ты захочешь откорректировать данные в своей персональной заявке — ты можешь это сделать до 28 ноября 2016 года.
<br />Твой e-mail для входа: {{ userEmail }}
<br />Твой пароль для входа: {{ userPassword }}
<br />
<br />Обращаем твое внимание! Фотосъемки на фестивале не будет, и если ты решишь не добавлять фото в свой профиль, то на твоем бейдже его тоже не будет! Настоятельно рекомендуем загрузить фотографию в режиме редактирования заявки — если ты, конечно, этого еще не сделал.
<br />
<br />Также ты можешь заявить мероприятие на фестиваль — для этого воспользуйся специальной формой: <a href="https://goo.gl/forms/mvik0Qe8lTnNriZi1">https://goo.gl/forms/mvik0Qe8lTnNriZi1</a>
<br />
<br />Если ты хочешь жить на фестивале вместе со своими друзьями — ты можешь вернуться в режим редактирования заявки и создать группу поселения. Или присоединится к уже существующей. Специальный доступ не требуется — просто выбираешь нужную группу из списка.

{% include "mails/footer.twig" %}
